/* global section */
*{
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  padding: 0;
  user-select: none;
}

:root{
  --buttons-height: 50px;
  --buttons-width: 300px;
  /* (HAY QUE DEFINIR LOS COLORES POR DEFECTO) */
}

body{
  overflow-x: hidden;
  background: #2d461c;
}

#music_4_battle{
  display: none;
}
/* global section */

/* sound icon */
#content_sound{
  width: 100px;
  height: 60px;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 100;
  margin: auto;
  top: 30px;
}
#content_sound:hover{
  cursor: pointer;
}
.icon_transition{
  width: 0;
  height: 20px;
  border-right: 35px solid white;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  border-left: 20px solid transparent;
}
.icon_transition:before{
  transition: 0.3s;
  width: 15px;
  position: relative;
  right: 10px;
  bottom: 1px;
  height: 21px;
  background: white;
  display: inline-block;
  content: "";
}
.icon_transition:after{
  transition: 0.1s;
  position: relative;
  background: white;
  display: inline-block;
  content: "";
}
.sound_on:after{
  width: 25px;
  height: 31px;
  background: transparent;
  left: 1px;
  bottom: 50px;
  border-radius: 50%;
  border-top: 20px double transparent;
  border-left: 20px double transparent;
  border-bottom: 20px double transparent;
  border-right: 20px double white;
}
.sound_medium:after{
  width: 25px;
  height: 31px;
  background: transparent;
  left: 1px;
  bottom: 40px;
  border-radius: 50%;
  border-top: 10px solid transparent;
  border-left: 20px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid white;
}
.sound_off:after{
  width: 25px;
  height: 31px;
  position: relative;
  display: inline-block;
  background: transparent;
  left: 42px;
  bottom: 50px;
  border-top: 0px double transparent;
  border-left: 0px double transparent;
  border-bottom: 0px double transparent;
  border-bottom: 10px solid white;
  content: "";
}
/* sound icon */

/* sections section */
.height_class{
  position: absolute;
  height: 100vh;
  width: 100%;
}

.inside{
  position: relative;
  height: 100vh;
  width: 100%;
}

.developers_section{
  top: 100vh;
  background: -webkit-linear-gradient(top, #000, transparent 90%);
}

.start_section{
  transition: 1s;
  top: 0;
  z-index: 101;
  background: #f6f6f6;
}

.temporal_bg_color_2{
  background-image: url('../img/bg/bg_start.jpg');
  background-size: 500px;
  background-position: center;
  background-repeat: no-repeat;
}
/* sections section */




/* press start section */
#start_button{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid;
  border-radius: 0px 65px;
  background: rgba(255,255,255,1);
  transition: 0.4s;
  outline: none;
  width: var(--buttons-width);
  height: var(--buttons-height);
}
#start_button:hover{
  cursor: pointer;
  background: rgba(255,255,255,0.8);
}
/* press start section */

/* juicy section */
.clouds{
  width: 400px;
  height: 200px;
  position: absolute;
  background-repeat: no-repeat;
}

.cloud_1{
  top: 25vh;
  right: -400px;
  position: fixed;
  background-image: url('../img/sprites/nubegrande.png');
  animation: cloud-right 60s ease-in-out infinite;
}

.cloud_2{
  top: 20vh;
  position: fixed;
  left: -400px;    
  background-image: url('../img/sprites/nubepeque.png');
  animation: cloud-left 45s ease-in-out infinite;
}

@keyframes cloud-right {
  0%{
    right: -400px;
  }
  100%{
    right: 150%;
  }
}

@keyframes cloud-left {
  0%{
    left: -400px;
  }
  100%{
    left: 125%;
  }
}


.background_img {
  position: absolute;
  background-image: url('../img/bg/bg_game1.png');
  height: 80vh;
  width: 100%;
  background-repeat-y: no-repeat;
  background-size: contain;
}

.interaction_menu{
  height: 30vh;
  position: relative;
  top: 70vh;
  bottom: 0;
  z-index: 100;
  background: -webkit-linear-gradient(top,
  transparent,#000 90%);
}

#text{
  width: 35%;
  background: white;
  height: 140px;
  overflow: auto;
  border: 1px solid black;
  position: absolute;
  top: 5vh;
  left: 2.5vw;
  font-size: 12px;
  line-height: 2;
  padding: 5px 0px 0px 7px;
  display: inline-block;
}
.text span{
  font-weight: bold;
}
.grid_options{
  width: 55%;
  height: 20vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  top: 5vh;
  right: 1.5vw;
}

.action{
  width: 95%;
  height: 50px;
  border-radius: 0px 65px;
  background: rgba(255,255,255,0);
  transition: 0.4s;
  color: white;
  border: 2px solid white;
  outline: none;
}

.action:hover{
  background: rgba(255,255,255,1);
  cursor: pointer;
  color: black;
}

#character_1{
  position: absolute;
  height: 118px;
  bottom: 32vh;
  right: 10%;
  z-index: 99;
  animation: frames_psyduck_container 1.6s step-end infinite;

}
@keyframes frames_psyduck_container {
  0%{
    width: 78px;
  }
  25%{
    width: 81px;
  }

  50%{
    width: 85px;
  }

  75%{
    width: 81px;
  }

  100%{
    width: 78px;
  }
}

#character_2{
  position: absolute;
  height: 104px;
  bottom: 32vh;
  left: 10%;
  z-index: 97;
  animation: frames_machop_container 1.4s step-end infinite;
  transform: rotateY(180deg);
}
@keyframes frames_machop_container {
  0%{
    width: 81px;
  }
  25%{
    width: 74px;
  }

  50%{
    width: 80px;
  }

  75%{
    width: 74px;
  }

  100%{
    width: 81px;
  }
}

.smooth_move{
  transition: 2s;
  overflow: hidden;
}

.psyduckFrame{
  width: 1000px;
  position: relative;
  left: -80px;
  animation: frames_psyduck 1.6s step-end infinite;
}

@keyframes frames_psyduck {
  0%{
    left: -80px;
  }

  25%{
    left: -235px;
  }

  50%{
    left: -319px;
  }

  75%{
    left: -235px;
  }

  100%{
    left: -80px;
  }
}


.machopFrame{
  width: 1000px;
  position: relative;
  animation: frames_machop 1400ms step-end infinite;
}
@keyframes frames_machop{
  0%{
    left: -1px;
  }
  25%{
    left: -85px;
  }

  50%{
    left: -162px;
  }

  75%{
    left: -85px;
  }

  100%{
    left: -1px;
  }
}

.barra{
  width: 513px;
  height: 125px;
  position: absolute;
}

.barra h2{
  padding-left: 21px;
  padding-top: 7px;
  font-size: 16px;
  line-height: 0;
  color: #f6f6f6;
}

.ch2{
  top: 6vh;
  right: 2vh;
  animation: ch2_float 3.5s ease-in-out infinite;
}

.ch1{
  top: 6vh;
  left: 2vh;
  z-index: 98;
  animation: ch1_float 4.5s ease-in-out infinite;
}

@keyframes ch2_float{
  0%{
    top: 6vh;
  }
  50%{
    top: 8vh;
  }
}

@keyframes ch1_float{
  0%{
    top: 6vh;
  }
  50%{
    top: 8vh;
  }
}

.life_inner_section{
  width: 450px;
  padding: 1px  7px;
  height: 44px;
  border: 2px solid #f6f6f6;
  position: relative;
  border-radius: 0px 30px;
  top: 20px;
  left: 20px;
}

.life_inner_section > span{
  position: relative;
  bottom: 9px;
  font-size: 10px;
  color: #f6f6f6;
  left: 7px;
}

.barra_borde{
  width: 320px;
  position: relative;
  top: 3px;
  height: 35px;
  display: inline-block;
  border: 2px solid #f6f6f6;
  background-color: #f6f6f6;
}

.barra_interna{
  transition: 1s;
  height: 35px;
  width: 320px;
}

.color_1{
  background: #22d628;
}

.color_2{
  background: #ffd907;
  animation: yellow_danger 1s ease-in-out infinite;
}

@keyframes yellow_danger{
  0%{
    background: #ffd907;
  }
  50%{
    background: #ffe03a;
  }
}

.color_3{
  background: #ff2e2e;
  animation: real_danger 0.5s ease-in-out infinite;
}

@keyframes real_danger{
  0%{
    background: #ff0707;
  }
  50%{
    background: #ff5b5b;
  }
}
/* juicy section */

/* responsive */
@media only screen and (max-width: 1110px){
  .ch1{
    top: 16vh;
  }
  .ch2{
    top: 30vh;
  }
  @keyframes ch2_float{
    0%{
      top: 30vh;
    }
    50%{
      top: 32vh;
    }
  }
  
  @keyframes ch1_float{
    0%{
      top: 16vh;
    }
    50%{
      top: 18vh;
    }
  }
  #character_1{
    bottom: 30vh;
  }
  #character_2{
    bottom: 30vh;
  }
  .background_img {
    background-size: cover;
  }
}

/* responsive */